<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>GlueNews | Wyniki walki</title>
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.css" integrity="sha512-kJlvECunwXftkPwyvHbclArO8wszgBGisiLeuDFwNM8ws+wKIw0sv1os3ClWZOcrEB2eRXULYUsm8OVRGJKwGA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="http://localhost:2137/css/styles.css" rel="stylesheet">
</head>
<body class="bg-white">
<nav class="fixed w-full top-0 z-10 text-amber-50 navbar ">
    <div class="flex justify-start items-center">
        <p class="text-4xl mt-5 mb-5 ml-10 font-['Pacifico'] text-[#eff1ed]">GlueNews</p>
    </div>
</nav>
<main class="mt-32">
    <section id="win"   class="flex items-center justify-center">
        <div class="mt-20 w-full max-w-2xl bg-white rounded-2xl shadow-lg border border-gray-200 p-8 md:p-12 text-center">

            <h1 class="text-3xl md:text-4xl font-bold text-[#3a372e] mb-8">
                Wyniki głosowania
            </h1>
            <div class="space-y-6 text-gray-800 text-lg leading-relaxed">
                <p><span class="font-semibold">Zwycięzca: </span> <span id="winnerText" class="text-green-600 font-bold"><%= WINNER %></span></p>
                <div class="flex flex-col items-center justify-center mt-6">
                    <p><span class="font-semibold">Punkty: </span> <span id="truthVotes" class="font-bold"> <%= resultData.score %></span></p>
                    <p><span class="font-semibold">Rola: </span> <span id="role" class=" text-gray-600 font-bold"><%= WINNERROLE %></span></p>
                </div>
                <p><span class="font-semibold">Przegrany: </span> <span id="winnerText" class="text-red-600 font-bold"><%= LOSER%></span></p>
                <div class="flex flex-col items-center justify-center mt-6">
                    <p><span class="font-semibold">Punkty: </span> <span id="truthVotes" class="font-bold"><%= resultData.loser_score %></span></p>
                    <p><span class="font-semibold">Rola: </span> <span id="role" class=" text-gray-600 font-bold"><%= LOSERROLE %></span></p>
                </div>
            </div>

            <div class="flex justify-center mt-6 gap-4">
                <button onclick="redirect('/')" class="max-lg:px-6 px-3 py-3  bg-blue-500 hover:bg-blue-600 text-white font-semibold rounded-lg shadow-md hover:shadow-lg transition-all duration-200">
                    Powrot do GlueNews
                </button>
            </div>
        </div>

    </section>
    <script src="http://localhost:2137/js/results.js"></script>
</main>
<footer class="navbar text-white py-8 mt-120">
    <div class="container mx-auto px-4">
        <div class="flex flex-col md:flex-row justify-between items-center">
            <div class="mb-6 mt-6 md:mb-0">
                <a href="#" class="text-3xl font-['Pacifico'] text-white">GlueNews</a>
                <p class="mt-5 max-sm:text-sm opacity-80">Twoje narzędzie do weryfikacji informacji w erze dezinformacji. <br> Razem budujemy bardziej świadome społeczeństwo.</p>
            </div>
        </div>
        <div class="border-t border-white/20 mt-6 p-6 text-center">
            <p class="opacity-80">Stworzono z <i class=" text-red-600 ri-heart-fill"></i> przez Glueeed.</p>
            <p class="opacity-80">Projekt open-source dostępny na <a href="https://github.com/Glueeeeed/GlueNews"><i class="ri-github-fill"></i> GitHub</a></p>
            <p class="text-sm mt-3 opacity-60">Version 1.0.0</p>
        </div>
    </div>
</footer>

</body>
</html>